    <nav id="menu-mobile">
            <ul>
                <!-- 1st level -->
                {% for link in site.data.navigation %}
				<li>
                    {% if link.sub != null %}<span>{{ link.title }}</span>{% else %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                    {% endif %}
                {% if link.sub != null %}
                            <ul>
                                <!-- 2nd level -->
                                {% for sub in link.sub %}
                                <li>
                                    <a href="{% if sub.external %}{{ sub.url }}{% else %}{{ site.url }}{{ sub.url }}{% endif %}">{{ sub.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                </li>
                {% else %}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
    </nav>