<div class="main">
    <nav id="cbp-hrmenu" class="cbp-hrmenu">
            <ul>
                <!-- 1st level -->
                {% for link in site.data.navigation %}
				<li {% if link.sub != null %}class="has-child"{% endif %}>
                    <a href="{{ link.url }}">{{ link.title }}
                    {% if link.sub != null %}<span class="caret"></span>{% endif %}</a>
                {% if link.sub != null %}
                <div class="cbp-hrsub">
                    <div class="cbp-hrsub-inner"> 
                        <div>
                            <ul>
                                <!-- 2nd level -->
                                {% for sub in link.sub %}
                                <li>
                                    <a href="{% if sub.external %}{{ sub.url }}{% else %}{{ site.url }}{{ sub.url }}{% endif %}">{{ sub.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                </li>
                {% else %}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            
    </nav>
</div>