<!doctype html>
<head>
    <!-- http://t.co/dKP3o1e -->
<!-- <meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<meta charset="utf-8" />
<meta name="author" content="panik" />
<meta name="viewport" content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no" />

    <link  type="text/css" rel="stylesheet" href="index.css" />
    <link  type="text/css" rel="stylesheet" href="component.css" />
    <!-- <link  type="text/css" rel="stylesheet" href="mmenu-light.css" /> -->
</head>
<title>Example</title>
<body>
    <header id="pageHeader">
        <a href="{{ site.url }}">
        <div class="logo"><img src="{{ site.url }}/uploads/logo.png" /></div>
        <div class="name">ГБУЗ Республики Карелия<br>«Республиканский Перинатальный Центр»</div>
        </a>
    </header>
    <div id="menu">
        {% include _navigation.html %}     
    </div>
    <div id="vitrina">
        <!-- <img width="100%" height="100%" src="{{ site.url }}/uploads/{{ page.image.vitrina }}"> -->
    </div>
    <article id="mainArticle">Article
        <div>Явные и неявные гриды
            CSS Grid использует концепцию явного грида и неявного. Это, в принципе, ключевая концепция, которой вам нужно понимать при создании гридов, в противном случае вы можете увидеть кучу колонок и строк, о существовании которых вы даже и не подозревали.<br>Явные и неявные гриды
            CSS Grid использует концепцию явного грида и неявного. Это, в принципе, ключевая концепция, которой вам нужно понимать при создании гридов, в противном случае вы можете увидеть кучу колонок и строк, о существовании которых вы даже и не подозревали.<br>Явные и неявные гриды
            CSS Grid использует концепцию явного грида и неявного. Это, в принципе, ключевая концепция, которой вам нужно понимать при создании гридов, в противном случае вы можете увидеть кучу колонок и строк, о существовании которых вы даже и не подозревали.</div>
    </article>
    <!-- <nav id="mainNav">Nav</nav> -->
    <div id="siteAds">Ads</div>
    <footer id="pageFooter">Footer</footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="mmenu-light.js"></script> -->
    <!-- https://github.com/codrops/Blueprint-HorizontalDropDownMenu -->
    <script type="text/javascript" src="cbpHorizontalMenu.min.js"></script>
    <!-- <script type="text/javascript" src="menu-mobile.js"></script> -->
    
    <script>
        $(function() {
            cbpHorizontalMenu.init();
        });
    </script>

  </body>